* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

p {
  font-size: 1.4rem;
  color: rgb(236, 228, 174);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin: 0 0 16px 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
  }
}

.button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: green;
  padding: 16px 16px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s ease-in-out;

  /* https://www.cssmatic.com/box-shadow */

  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
}

.button:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}

img {
  max-width: 100%;
}

/*-------- UTILITIES ---------*/

.content-width {
  width: 33.4rem;
  max-width: 100%;
  margin: auto;
  padding: 0 16px;
}

.section-spacing {
  padding: 8rem 0;
}

@media only screen and (min-width: 1200px) {
  .content-width {
    width: 113rem;
  }
}

/*-------- PAGE 1 ---------*/

header {
  display: none;
}

@media only screen and (min-width: 1200px) {
  header {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: block;
  }

  header .content-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 100px;
  }

  nav {
    font-size: 1.6rem;
    color: white;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  .main-nav a {
    color: white;
    text-decoration: none;
    /* padding-bottom: 8px;
    position: relative; */
  }

  .main-nav a:hover {
    text-decoration: underline;
  }

  .mobile-toggle {
    display: none;
  }
}

/*-------- HERO ---------*/

.home-hero {
  position: relative;
  padding: 50px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.home-hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.home-hero .content-width {
  max-width: 45rem;
}

@media only screen and (min-width: 1200px) {
  .home-hero {
    padding: 200px 0 150px 0;
  }
}

/*-------- OFFERINGS ---------*/

.offerings {
  background-color: #4c6756;
}

.offerings-content {
  text-align: center;
  padding-bottom: 2.4rem;
}

.offerings h2 {
  font-size: 3.2rem;
  margin-top: 0;
}

.offerings-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.offerings-card {
  height: 233px;
  width: 233px;
  max-width: 100%;
  background-color: #c2d1d9;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.offerings-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
}

.offerings-card h3 {
  margin: 0 0 8px 0;
  position: relative;
}

.offerings-card p {
  margin: 0;
  position: relative;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .offerings-cards {
    flex-direction: row;
    gap: 32px;
  }

  .offerings-card {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .offerings {
    padding: 8rem 0;
  }

  .offerings .content-width {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .offerings-content {
    text-align: left;
    padding-right: 4rem;
    padding-bottom: 0;
  }
}

/*-------- TESTIMONIALS ---------*/

.testimonials {
  background: url(images/chickens1.jpeg) center center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.testimonials i {
  color: white;
  font-size: 4.8rem;
}

.testimonials::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}

.testimonials .content-width {
  position: relative;
}

/*
@media only screen and (min-width: 1200px) {
  .testimonials .content-width {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
} */

/*-------- LOCATION / CONTACT ---------*/

.hours {
  justify-content: center;
  align-items: center;
  color: rgb(236, 228, 174);
}

.hours ul {
  font-size: 2rem;
}

.location {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2.4rem;
  background-color: #4c6756;
}

.location iframe {
  height: 30rem;
}

@media only screen and (min-width: 1200px) {
  .hours {
    width: 40%;

    padding-right: 6rem;
  }

  .location {
    align-items: center;
    flex-direction: row;
  }

  .location iframe {
    width: 60%;
    height: 40rem;
  }
}

/*-------- FOOTER ---------*/

footer {
  background: url(images/pumpkins.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}

.footer .content-width {
  position: relative;
}

footer h2 {
  margin: 0;
}

.footer i {
  color: white;
  font-size: 4.8rem;
  padding: 1.6rem;
}

.footer-nav {
  font-size: 1.6rem;
  color: white;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  /* padding-bottom: 8px;
    position: relative; */
}

.footer-nav a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1200px) {

  .footer-nav ul {
    flex-direction: row;
    gap: 24px;
    
    
  }


}

/*-------- DISCLAIMER ---------*/

.disclaimer {
  padding: 8px;
  text-align: center;
}

/*-------- PAGE 2 ---------*/

.hero {
  position: relative;

  padding: 50px 0 75px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/*-------- PRODUCTS ---------*/

.products {
  background-color: #4c6756;
}

.product {
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
}

.products .content-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.product-content p {
  max-width: 80%;
}

.product h3 h5 {
  margin: 0;
  padding: 0;
}

.product-image {
  height: auto;
  width: 233px;
  max-width: 100%;
  background-color: #c2d1d9;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

/* .product-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.3;
  } */

/*-------- PAGE 3 ---------*/

.faq {
  background-color: red;
}
