* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

p {
  font-size: 1.6rem;
  color: white;
}

h1,
h2,
h3 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}
/*-------- UTILITIES ---------*/

.content-width {
  width: 33.4rem;
  max-width: 100%;
  margin: auto;
  padding: 0 16px;
}

.section-spacing {
  padding: 8rem 0;
}

@media only screen and (min-width: 768px) {
  .content-width {
    width: 69rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content-width {
    width: 113rem;
  }
}

/*-------- VIDEO ---------*/

/* video {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 113rem;
  } */

/*-------- HEADER ---------*/

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

header .content-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-toggle {
  display: none;
}

/*-------- HERO ---------*/

.hero {
  position: relative;
  padding: 200px 0 150px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero .content-width {
  max-width: 45rem;
}

/*-------- OFFERINGS ---------*/

.offerings {
  background-color: #4c6756;
}

.offerings-content {
  text-align: center;
  padding-right: 4rem;
}

.offerings h2 {
  font-size: 3.2rem;
  margin-top: 0;
}

.offerings-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.offerings-card {
  height: 233px;
  width: 233px;
  max-width: 100%;
  background-color: #c2d1d9;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.offerings-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
}

.offerings-card h3 {
  margin: 0 0 8px 0;
  position: relative;
}

.offerings-card p {
  margin: 0;
  position: relative;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .offerings-cards {
    flex-direction: row;
    gap: 32px;
  }

  .offerings-card {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .offerings {
    padding: 8rem 0;
  }

  .offerings .content-width {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .offerings-content {
    text-align: left;
  }
}

/*-------- TESTIMONIALS ---------*/



.testimonials {
background: url(images/chickens1.jpeg) center center no-repeat;
background-size: cover;
position: relative;
text-align: center;
}

.testimonials i {
    color: white;
    font-size: 4.8rem;
}

.testimonials::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    
  }

  .testimonials .content-width {
    position: relative;
  }

  .testimonials {}

/*.testimonials-content {
  text-align: center;
  padding: 4rem 4rem;
  font-size: 2.4rem;
  color: #505d68;
}

.testimonials-content p {
  font-size: 16px;
}

.testimonials-cards {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 334px;
  max-width: 100%;
  background-color: #f2f5f7;
  padding: 24px;
  margin-bottom: 2.4rem;
}

.testimonial {
  font-size: 18px;
}

.testimonials-name {
  margin-bottom: 0;
  color: #505d68;
  font-size: 16px;
  font-weight: normal;
}

.testimonials-job {
  margin: 0;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .testimonials-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }

  .testimonials-card {
    margin: 0;
  }

  .testimonials-content {
    text-align: left;
    padding: 3rem 0;
    max-width: 88%;
  }
}

@media only screen and (min-width: 1200px) {
  .testimonials .content-width {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
} */

/*-------- LOCATION / CONTACT ---------*/

.location {
    padding: 2.4rem;
    background-color: #4c6756;
}

.location iframe {
    width: 100%;
    height: 40rem;
}
